.input {
    padding: 1%;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ced4da;
    outline: none;
    color: #333;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.input:focus {
    border-color: #888;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    color: #333;
}

.input::placeholder {
    color: #aaa;
    opacity: 1;
    transition: color 0.3s ease-in-out;
}

.input:focus::placeholder {
    color: #888;
}

.button {
    padding-right: 15px;
    padding-left: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #e0e0e0;
    border-color: #888;
}

.button:active {
    background-color: #d1d1d1;
    border-color: #888;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.button:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 6px rgba(85, 85, 85, 0.2);
}

.listItem {
    margin-left: 20px;
    list-style-type: disc;
}

.removeX {
    color: red;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease;
  }
  
  .removeX:hover {
    color: darkred;
  }